# SPDX-FileCopyrightText: 2024 Deutsche Telekom AG
#
# SPDX-License-Identifier: CC0-1.0

# See https://reuse.software/spec-3.2/#reusetoml for specification
version = 1

## Example:
[[annotations]]
path = [
    "tests/data/**.csv",
    "tests/data/**.json",
    ]
precedence = "override"
SPDX-FileCopyrightText = "2024 Deutsche Telekom AG"
SPDX-License-Identifier = "CC0-1.0"
[[annotations]]
path = [
    "**/*/README.md",
    ".github/workflows/*.yaml",
    ".github/**/*.md",
    "VERSION",
    ".vscode/settings.json",
    "DIRECT_REQUIREMENTS.txt",
    "tests/data/*.html",
    ]
precedence = "override"
SPDX-FileCopyrightText = "NONE"
SPDX-License-Identifier = "CC0-1.0"
[[annotations]]
path = [
    "docs/icon.png"
    ]
precedence = "override"
SPDX-FileCopyrightText = "2024 Deutsche Telekom AG"
SPDX-License-Identifier = "Apache-2.0"


[[annotations]]
path = [
    "wurzel/utils/to_markdown/*"
    ]
precedence = "override"
SPDX-FileCopyrightText = "2020 suntong"
SPDX-License-Identifier = "MIT"
